<h1 align="center">Todo List</h1>
<input type="text"  class="todo-input border-info m-2" placeholder="Add next todo here" [(ngModel)]="todoTitle" (keyup.enter)=addTodo()>
<ul align="center" class="list-group m-2">
    <li class="list-group-item bg-info" *ngFor="let todo of todoList">
        <div class="view">
            <input type="checkbox" name="done" (click)="complete(todo)" class="float-left mt-2 ml-4">
            <label [ngStyle]="{'text-decoration': todo.isDone ? 'line-through' : 'none'}">{{todo.title}}</label>
            <label class="float-right">{{todo.created | date:'short'}}</label>
            <div class="float-right mr-1">
                <button type="button" (click)="deleteTodo(todo)" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </div>
    </li>
</ul>



<router-outlet></router-outlet>